#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat-Regular 400 italic';
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navigation BAR */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* The Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* The title image */
.title-image {
  width: 100%;
  max-width: 100%;
  position: absolute;
}

/* features section */

h3 {
  font-family: 'Montserrat';
  font-size: 1.5rem;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.icon {
  padding: 0 30% 10px;
  color: #ef8172;
  font-size: 3rem;
}

.icon:hover {
  color: #ff4c68;
  margin-bottom: 1rem;
}

p {
  color: #8f8f8f;
}

.features-section {
  padding: 0 5%;
  text-align: center;
}

/* testimonial section */
#testimonials {

  text-align: center;
  background-color: #ef8172;
  color: white;
}

.carousel-item {
  padding: 7% 15%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.rounded-image {
  border-radius: 200%;
  width: 15%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 4%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-coloumn {
  padding: 3% 2%;
}


@media (max-width:1000px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}


/* cta section */
#cta {
  background-color: #ff4c68;
  padding: 7% 15%;

  color: white;
  text-align: center;

}


/* footer section */

#footer {
  text-align: center;
  background-color: #fff;
}

.contact-icons {
  margin: 10px;
  margin-top: 60px;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #DAB52E;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #b08a00;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}